
.icon-aura-crate-ig:before { content: '\e800'; } /* '' */
.icon-aura-crate-mark:before { content: '\e806'; } /* '' */
.icon-aura-crate-icon:before { content: '\e808'; } /* '' */
.icon-aura-crate-wormark:before { content: '\e80b'; } /* '' */
.icon-hover-1:before { content: '\e80c'; } /* '' */
.icon-hover:before { content: '\e80d'; } /* '' */
.icon-aura-crate-fb:before { content: '\e80e'; } /* '' */
.icon-aura-crate-tweet:before { content: '\e810'; } /* '' */